span{
    padding: 50px;
    background-color: blueviolet;
    color: burlywood;
    margin-left: 500px;
}
span:nth-child(2){
    margin-left: 500px;
    font-size: 50px;
    font-weight: 800;
text-justify: inter-ideograph;
co
}
div{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    margin-top: 50px;
 color: white;
 font-size: 100px;
 font-weight: 800;
}
@keyframes dön {
    0%{
        margin-top: 0px;
        margin-left: 0px;
    }
    25%{
        margin-top: 0px;
        margin-left: 1000px;
    }
    50%{
        margin-left: 1000px;
        margin-top: 500px;
    }
    75%{
        margin-top: 500px;
        margin-left: -00px;
    }
    100%{
        margin-top: -0px;
    }
}
