body {
    margin: 0;
}

.ben {

    background-color: black;
    opacity: 0.8;
    position: absolute;
    z-index: 0;
    display: none;
    width: 100%;
    height: 945px;
}
@keyframes ben{
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 100%;
        height: 945px;
    }
}
.div {
    position: absolute;
    width: 1200px;
    height: 550px;
    border: 30px solid transparent;
    border-image: url(boder/bor.png) 30 round;
    margin: 160px 330px;
}
.B1,.B2,.B3,.B4,.B5,.B6,.B7,.B8,.B9,.B10,.B11,.B12{
    position: absolute;
    width: 200px;
    height: 400px;
}

.B1 {
    position: absolute;
    margin-top: 270px;
    margin-left: 418px;
    transition: 2s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
   
}

.B2 {
    position: absolute;
    margin-top: 270px;
    margin-left: 698px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B3 {
    position: absolute;
    margin-top: 270px;
    margin-left: 978px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B4{
    position: absolute;
    margin-top: 270px;
    margin-left: 1258px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}
.B5{
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 418px;
    transition: 2s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B6 {
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 698px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B7{
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 978px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B8{
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 1258px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}
.B9 {
    height: 200px;
    position: absolute;
    margin-top: 670px;
    margin-left: 418px;
    transition: 2s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B10{
    height: 200px;
    position: absolute;
    margin-top: 670px;
    margin-left: 698px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B11 {
    height: 200px;
    position: absolute;
    margin-top: 670px;
    margin-left: 978px;
    transition: 1s;
    z-index: 1;
    filter: grayscale(100%);
    border: 5px solid  blue;
}

.B12{
    position: absolute;
    margin-top: 670px;
    margin-left: 1258px;
    transition: 1s;
    z-index: 1;
    height: 200px;
    filter: grayscale(100%);
    border: 5px solid  blue;
}



.B1:focus,
.B2:focus,
.B3:focus,
.B4:focus {
    border: 10px double blueviolet;
    margin-left: 838px;
    transform: scale(1.8);
    z-index: 2;
    
    filter: grayscale(0%);
}

.B5:focus,
.B6:focus,
.B7:focus,
.B8:focus {
    border: 10px double blueviolet;
    margin-left: 838px;
    transform: scale(2.5);
    z-index: 2;
    margin-top: 350px;
    filter: grayscale(0%);
}

.B9:focus,
.B10:focus,
.B11:focus,
.B12:focus {
    border: 10px double blueviolet;
    margin-left: 860px;
    transform: scale(2.5);
    z-index: 2;
    margin-top: 400px;
    filter: grayscale(0%);
}




img:nth-child(2):focus + img +img + img +div,
img:nth-child(3):focus + img +img + div,
img:nth-child(4):focus + img  + div,
img:nth-child(5):focus + div{ display: block;}

.B1:focus + img +img + img + img +img + img + img +div,
.B2:focus + img +img + img + img +img + img  +div,
.B3:focus + img +img + img + img +img + div,
.B4:focus + img +img + img + img +div,
.B5:focus + img +img + img  +div,
.B6:focus + img +img  +div,
.B7:focus + img  +div,
.B8:focus +div{display: block;}

.B1:focus + img +img + img + img +img + img + img + img + img + img + img +div,
.B2:focus + img +img + img + img +img + img + img + img + img + img +div,
.B3:focus + img +img + img + img +img + img + img  + img + img+div,
.B4:focus + img +img + img + img +img + img + img +img +div,
.B5:focus + img +img + img + img +img + img + img +div,
.B6:focus + img +img + img + img +img + img  +div,
.B7:focus + img +img + img + img +img + div,
.B8:focus + img +img + img + img +div,
.B9:focus + img +img + img  +div,
.B10:focus + img +img  +div,
.B11:focus + img  +div,
.B12:focus +div{display: block;}


.B1:hover,.B2:hover,.B3:hover,.B4:hover,.B5:hover,.B6:hover,.B7:hover,.B8:hover,.B9:hover,.B10:hover,.B11:hover,.B12:hover{
    filter: grayscale(0%);
}
















/* img:nth-child(2):focus + :nth-child(3){
    transform: scale(0.8);
    margin-left: 1150px;
    margin-top: 400px;
}
img:nth-child(2):focus +img +img{
    transform: scale(0.8);
    margin-left: 1350px;
    margin-top: 400px;
}
img:nth-child(2):focus +img +img +img{
    transform: scale(0.8);
    margin-left: 1550px;
    margin-top: 400px;
}
 #ikinci:focus + #birinci {
    transform: scale(0.5);

}
img:nth-child(3):focus +img{
    transform: scale(0.8);
    margin-left: 1150px;
    margin-top: 400px;
}
img:nth-child(3):focus +img +img {
    transform: scale(0.8);
    margin-left: 1350px;
    margin-top: 400px;
}

img:nth-child(4):focus +img{
    
    transform: scale(0.7);

}
img:nth-child(4):focus +{
    transform: scale(0.8);
    margin-left: 1150px;
    margin-top: 400px;
}
img:nth-child(4):focus +img {
    transform: scale(0.8);
    margin-left: 1150px;
    margin-top: 400px;
} */

