img{
    width: 100px;
    height: 500px;
    border-radius: 25px;
    transition: 0.5s;
    border: 5px solid yellow;
    background-size: cover;
    margin-top: 200px;
}
img:nth-child(1):hover,
img:nth-child(2):hover,
img:nth-child(3):hover,
img:nth-child(4):hover,
img:nth-child(5):hover{
    width: 600px;
    background-size: cover;
}
img:nth-child(1){
margin-left: 600px
;
}